body{
    margin: 0;
    background-color: black;
}
.container{
    background-color: #131313;
    padding: 1.5em 0;
}
#root div section{
    text-align: center;
}
#root div section div{
    display: inline-block;
}
#root div section div img{
    object-fit: cover;
}
.card{
    width: 18em;
    margin: none;
    margin: 0 0.5em;
}